/* que JAMÁS se esconda el popper */
.MuiAutocomplete-popper { z-index: 2147483647 !important;background:#111 !important; color:#fff !important; }

/* que siempre tenga fondo/contraste */
.MuiAutocomplete-popper {
  display: block !important;
  visibility: visible !important;
  opacity: 1 !important;
  z-index: 2147483647 !important;
}
/* por si algún Paper ancestro recorta */
.MuiPaper-root, .MuiCard-root { overflow: visible; }
